  #news-number{
            background-color: #fff;
         border: 2px solid #eee;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding: 3px;
    margin-top: 4px;
    margin-bottom: 3px;
    }

      .news-text {
    overflow-wrap: break-word;
    margin: 0px 2px 3px 2px;
}
    .visualinfo-inner{
      
    height: auto;
    width: 98%;
    max-width: 500px;
    }

    .Newfeed{
            margin:2px 3px;
            border:1px solid grey;
    }
.News-top-bottons{
    color:#fff;
    border-color:rgba(128, 128, 128, 0.36);
     padding: 0 13px;
     width: 30%;
         text-align: center;
}
        .News-top-center{
   
         text-align: center;
}

.date_of_new{
   font-size: 15px;
   font-weight: 700;
    margin: auto;
}

.date_div_container{
      margin: auto;
    width: 98%;
    height: 20px;
    text-align: right;
}

.content{
    margin: 10px auto;
}


            .postedby{
 font-size: 12px;
    font-weight: 600;
    margin: 5px 0px;
            }


            #progress-bar-news{
              position: fixed;
    top: 0px;
    display: none;
    height: 8px;
    z-index: 5000;
            }
#thatsall-id{
 position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 5000;
    text-align: center;
    background-color: #eee;
    height: 40px;
    margin: 1px auto 0px auto;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    display: none;
}
#container-id{
    margin-bottom: 50px;
}